@import url("https://fonts.googleapis.com/css2?family=Gelasio:ital,wght@0,400..700;1,400..700&&family=Inter:wght@400;500&display=swap");
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --font-title: "Gelasio", sans-serif;
  --font-text: "Inter", sans-serif;

  --color-background: #FFF5F7;
  --color-surface: #ffefec;
  --color-foreground: #1f1f1f;
  --color-foreground-light: #1c1c1c;
  --color-primary: #b30305;
}

@layer base {
  body {
    @apply bg-white text-foreground-light font-text;

    ::selection {
      @apply bg-primary/30;
    }

    a,
    button,
    label {
      @apply cursor-pointer;
    }
  }
}

@layer base {
  body {
    @apply bg-surface text-foreground;
  }
}
